

:root {
    --mint-cream: #f1fffaff;
    --tea-green: #ccfccbff;
    --celadon: #96e6b3ff;
    --fern-green: #568259ff;
    --outer-space: rgb(117, 132, 118);
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}


h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.parallax {
    height: 100%;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .chewie {
    background-image: url("images/chewie.jpg");
  }
  .ojo {
    background-image: url("images/ojo.JPG");
  }
  .pluto {
    background-image: url("images/pluto.jpg");
  }

  
#main-nav li {
    list-style-type: none;
}

#main-nav a {
    text-decoration: none;
    color: var(--tea-green);
    
}

.hide {
  display: none; 
}




